body{
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
main{
    display: flex;
    align-items: center;
}

.board{
    display: grid;
    grid-template-columns: repeat(var(--size), 30px) ;
    grid-template-rows: repeat(var(--size), 30px);
    background-color: lightgray;
    padding: 5px;
}
.board div {
    height: 100%;
    width: 100%;
    border: 1px solid lightgray;
    background-color: darkslategray;
}

div[data-status="marked"]{
    background-color: yellow;
}

div[data-status="revealed"]{
    background-color: white;
}

div[data-status="mine"]{
    background-color: red;
}